<html>
<head>
</head>

<body>

<h1>Look for images</h1>
<p>
  Type a word to search
</p>


<form class="" action="/searchable" method="get">
  <input type="text" name="searchValue" value="">
  <input type="submit" name="name" value="Submit">
</form>


</body>


</html>
