<html>
<head>
</head>

<body>

<h1>Type your search here</h1>

<form class="" action="/searchable" method="get">
  <input type="text" name="searchValue" value="">
  <input type="submit" name="name" value="Submit">
</form>


</body>


</html>
